<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bluetreasure HR system</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<header>
    <div class="logo">
        <img src="../static/gazprom-neft-logo-eng.svg" alt="GazProm Neft Logo">
    </div>
    <div class="title">Bluetreasure HR system</div>
</header>
<main>
    <div class="main_text_block">
        <div class="main_text">
            Введите данные вакансии в левую форму. Введите данные кандидатов в правую форму.
        </div>
    </div>

    <div class="forms_cont">
        <form action="/" method="POST">
            <div class="form_card">
                <h2 class="form_title">Вакансия</h2>
                <label for="vacancy_info">Описание вакансии</label>
                <textarea id="vacancy_info" name="vacancy_info"
                    placeholder="Введите требования, обязанности, стек технологий..."></textarea>
            </div>

            <div class="form_card">
                <h2 class="form_title">Кандидаты</h2>
                <label for="cand_info">Данные кандидатов</label>
                <textarea id="cand_info" name="cand_info"
                    placeholder="Введите резюме кандидатов..."></textarea>
            </div>

            <button type="submit" class="submit_btn">Ранжировать</button>
        </form>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <ul class="flashes">
                                                    {% for category, message in messages %}
                                                        <li class="{{ category }}"><pre><font color="red" style="font-size: 1.3em;">{{ message }}</font></pre></li>
                                                    {% endfor %}

                        </ul>
     {% endif %}
    {% endwith %}
</main>
</body>
</html>


